body {
    background-color: black;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    font-family: 'VT323', monospace;
}
.vk-widget {
    width: 50vw;
    height: 80vh;
    overflow: hidden;
    position: relative;
    margin: 30px 0px 0px 30px;
    overflow-y: scroll;
    background-color: black;
    padding: 10px;
  }
  
  .vk-widget-posts {
    list-style: none;
    position: absolute;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  
  .vk-widget-post {
    background: black;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .vk-widget-post-title {
    color: white;
    font-size: 20px;
    font-weight: bold;
    height: 200px;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;  
    overflow: hidden;
  }
  
  .vk-widget-post-date {
    font-size: 14px;
    color: white;
    margin-inline: auto;
    margin-bottom: 5px;
  }

  .vk-widget-statistics {
    padding: 2px;
    display: flex;
    color: white;
  }

  .likes {
    margin-right: 10px;
    color: white;
  }

  .comments {
    color: white;
  }

  .ImgAll {
    width: 100%;
    object-fit: cover;
  }

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
    margin-block: .5em;
}

::-webkit-scrollbar-thumb {
    color: #fff;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
  box-shadow: inset 0px 1px 0px rgba(255,255,255,1),0px 1px 3px rgba(0,0,0,0.3);
  outline: none;
  border-color: #7c7c7c;
  background: linear-gradient(top, rgba(38, 38, 38, 0.8), #e6e6e6 25%, #ffffff 38%, #c5c5c5 63%, #f7f7f7 87%, rgba(38, 38, 38, 0.8));
  background: -webkit-linear-gradient(top, rgba(38, 38, 38, 0.5), #e6e6e6 25%, #ffffff 38%, rgba(0, 0, 0, 0.25)  63%, #e6e6e6 87%, rgba(38, 38, 38, 0.4));
}

.memory__counter{
    position: absolute;
    right: 0%;
    bottom: 0%;
    width: 100px;
    height: 20px;
    background: transparent;
    color: white;
}